@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family:'Gilroy-Medium ☞';
}

body{
  background: #e1ecf2;
}

[data-theme="dark"] {
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .top_navbar .top_menu {
  background-color: #383838 !important;
  color: #eee;
}

[data-theme="dark"] .hamburger {
  background-color: #383838 !important;
  color: #eee;
}


[data-theme="dark"] .sidebar{
  background-color: #383838 !important;
  color: #eee;
}

[data-theme="dark"] .sidebar ul li a {
  color: #eee;
}

[data-theme="dark"] .card{
  background-color: #383838 !important;
  color: #eee;
}

[data-theme="dark"] .main_container{
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .tab-content{
  background-color: #111 !important;
  color: #eee;
}

[data-theme="dark"] .tab-pane{
  background-color: #111 !important;
  color: #eee;
}

.wrapper-show{
  margin: 10px;
}

.wrapper-show .top_navbar{
  width: calc(100%);
  height: 60px;
  z-index: 999;
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.wrapper-show .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #fff;
  padding: 15px 17px;
  cursor: pointer;
}

.wrapper-show .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #172B4D;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper-show .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #172B4D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper-show .top_navbar .top_menu .logo .GMAT{
    display: block;
    width:60px;
    height: 70px;
    line-height: 70px;
}

.wrapper-show .top_navbar .top_menu .team{
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 3px;
}

.wrapper-show .top_navbar .top_menu ul{
  display: flex;
}

.wrapper-show .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
}

.wrapper-show .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper-show .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}

.wrapper-show .sidebar{
  position: fixed;
  top: 60px;
  left: 0px;
  background: #fff;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper-show .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #172B4D;
    white-space: nowrap;
}

.wrapper-show .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper-show .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper-show .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper-show .sidebar ul li a:hover,
.wrapper-show .sidebar ul li a.active{
  background: #4360b5;
  color: #fff;
}

.wrapper-show .sidebar ul li a:hover:before,
.wrapper-show .sidebar ul li a.active:before{
  display: block;
}

.wrapper-show .main_container{
  width: (100% - 200px);
  height: 0%;
  max-height: 50%;
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
  background: #e1ecf2;
  
}

.wrapper-show .main_container .item{
  width: 97%;
  height: 70%;
  background: #fff;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
  
}

.wrapper-show.collapse-show .sidebar{
  width: 70px;
}

.wrapper-show.collapse-show .sidebar ul li a{
  text-align: center; 
}

.wrapper-show.collapse-show .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper-show.collapse-show .sidebar ul li a span.title{
  display: none;
}

.wrapper-show.collapse-show .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}

.card{
  border-radius: 1.5rem; 
  border: none;
  margin-bottom: 20px;
}

#Map{
	width: 1030px;
	padding: 0 20px;
	top: 0px;
}

#map{
  width: 100%;
  height: 400px;
}

#mapATS{
  width: 100%;
  height: 180px;
}

#Detail{
	width: 1060px;
	padding: 30px;
	top: 100px;
}

#DetailText{

	padding: 10px;

}

.tombolconnect {
  background-color: #172B4D;
  color: #fff;
}

.tombolconnect:hover,
.tombolconnect:focus{
  color: #172B4D;
  background-color: #fff;
}

#Exclamation{
	height: 50px;
	width: 50px;
	margin-bottom: 15px;
	/* margin-left: 50px; */
}
#Clock{
	height: 40px;
	width: 28px;
	margin-bottom: 13px;
	margin-left: 3px;
}
#GLocation{
	height: 35px;
	width: 35px;
	margin-bottom: 12px;
}
#Monitor{
	height: 40px;
	width: 40px;
	margin-bottom: 14px;
}
#Download{
	height: 25px;
	width: 25px;
	margin-bottom: 16px;
	cursor: pointer;
}
#DownloadCSV{
	display: inline;
  cursor: pointer;
}

#form-label{
  font-family: 'Gilroy-Regular ☞';
  font-size: 18px;
  font-weight: 800;

}

.input-label {
  font-family: 'Gilroy-Light ☞';
  margin-bottom: 20px;

}